<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axis</key>
	<string>X</string>
	<key>host</key>
	<string>http://ns370799.ip-91-121-193.eu:8083/mobile</string>
	<key>emission</key>
	<true/>
	<key>interval</key>
	<integer>4</integer>
</dict>
</plist>
